# Server
NODE_ENV=development
PORT=3000

MONGO_URI=mongodb://localhost:27017/eventhub?directConnection=true

# Elasticsearch
ES_NODE=http://localhost:9200
ES_EVENTS_INDEX=events

# Auth
JWT_SECRET=change-this-to-a-long-random-string
JWT_EXPIRES_IN=7d

# CORS
CLIENT_ORIGIN=http://localhost:5173
